* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #fff;
}

.wrapper {
    position: relative;
    width: 700px;
    height: 395px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 3px solid #9223dc;
    box-shadow: 0 0 50px 0 #38048c;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 35px;
}

.inp {
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
}

.input {
    border: none;
    outline: none;
    background: none;
    width: 260px;
    margin-top: 40px;
    padding-right: 10px;
    font-size: 17px;
    color: #aa79fb;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}


.submit {
    border: none;
    outline: none;
    width: 288px;
    margin-top: 25px;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 40px;
    letter-spacing: 1px;
    cursor: pointer;
    background-image: url('../background.jpg');
    background-attachment: fixed;
}

.footer {
    margin-top: 30px;
    letter-spacing: 0.5px;
    font-size: 14px;
}

.link {
    color: #aa79fb;
    text-decoration: none;
}

.banner {
    position: absolute;
    top: 0;
    right: 0;
    width: 420px;
    height: 389.3px;
    background-image: url('../background.jpg');
    background-attachment: fixed;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%);
    padding-right: 70px;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.wel_text {
    font-size: 40px;
    margin: 85px -30px auto;
    line-height: 50px;
    font-family: 'oswald', sans-serif;
}

.para {
    margin-top: 10px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
}
